Assets/Firebase/Plugins/x86_64/FirebaseCppApp-11_3_0.dll filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
/Assets/App/Storage/Object_Asset_Storage/Lolow/Asset[[:space:]]Model[[:space:]]Field.obj filter=lfs diff=lfs merge=lfs -text
/Assets/App/Storage/Object_Asset_Storage/Rondo/Asset[[:space:]]Model[[:space:]]Field.obj filter=lfs diff=lfs merge=lfs -text
/Assets/App/Storage/Object_Asset_Storage/Ronin/Asset[[:space:]]Model[[:space:]]Field.obj filter=lfs diff=lfs merge=lfs -text
/Assets/App/Storage/Object_Asset_Storage/Runga/Asset[[:space:]]Model[[:space:]]Field.obj filter=lfs diff=lfs merge=lfs -text
/Assets/App/Storage/Object_Asset_Storage/Weh/Asset[[:space:]]Model[[:space:]]Field.obj filter=lfs diff=lfs merge=lfs -text
/Assets/App/Storage/Object_Asset_Storage/uploads_files_159/Asset[[:space:]]Model[[:space:]]Field.obj filter=lfs diff=lfs merge=lfs -text
/Assets/App/Storage/Object_Asset_Storage/uploads_files_210/Asset[[:space:]]Model[[:space:]]Field.obj filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Asset-Creation-Screen-Ref.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/UI/Buttons/Button[[:space:]]Filled[[:space:]]Shadowed.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/UI/Buttons/Prototype/Deselection.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/UI/Buttons/Prototype/Item[[:space:]]View[[:space:]]Deselection.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/UI/Buttons/Prototype/Item[[:space:]]View[[:space:]]Selection.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/UI/Buttons/Prototype/List[[:space:]]View[[:space:]]Deselection[[:space:]]Bold.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/UI/Buttons/Prototype/List[[:space:]]View[[:space:]]Selection[[:space:]]Bold.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/UI/Buttons/Prototype/Pin.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/UI/Buttons/Prototype/Selection[[:space:]]Button.png filter=lfs diff=lfs merge=lfs -text
/Assets/Prefabs/Main/_App.prefab filter=lfs diff=lfs merge=lfs -text
/Assets/Prefabs/UI/Color[[:space:]]Wheel[[:space:]]Widget.prefab filter=lfs diff=lfs merge=lfs -text
/Assets/Prefabs/_App.prefab filter=lfs diff=lfs merge=lfs -text
/Assets/Resources/HDR/Default.jpg filter=lfs diff=lfs merge=lfs -text
/Assets/Resources/HDR/Designar.jpg filter=lfs diff=lfs merge=lfs -text
/Assets/Resources/HDR/Standard.jpg filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/Main.unity filter=lfs diff=lfs merge=lfs -text
/Assets/Scripts/AppData.cs filter=lfs diff=lfs merge=lfs -text
/Assets/Scripts/DynamicWidgetsContainer.cs filter=lfs diff=lfs merge=lfs -text
/Assets/Scripts/SceneAssetsManager.cs filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Documentation/TextMesh[[:space:]]Pro[[:space:]]User[[:space:]]Guide[[:space:]]2016.pdf filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Examples[[:space:]]&[[:space:]]Extras/Fonts/Roboto-Bold.ttf filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Examples[[:space:]]&[[:space:]]Extras/Scenes/18[[:space:]]-[[:space:]]ScrollRect[[:space:]]&[[:space:]]Masking[[:space:]]&[[:space:]]Layout.unity filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Examples[[:space:]]&[[:space:]]Extras/Sprites/Default[[:space:]]Sprites.png filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Examples[[:space:]]&[[:space:]]Extras/Sprites/DropCap[[:space:]]Numbers.psd filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Examples[[:space:]]&[[:space:]]Extras/Textures/Floor[[:space:]]Tiles[[:space:]]1[[:space:]]-[[:space:]]diffuse.jpg filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Examples[[:space:]]&[[:space:]]Extras/Textures/Fruit[[:space:]]Jelly[[:space:]](B&W).jpg filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Examples[[:space:]]&[[:space:]]Extras/Textures/Small[[:space:]]Crate_normal.jpg filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Examples[[:space:]]&[[:space:]]Extras/Textures/Sunny[[:space:]]Days[[:space:]]-[[:space:]]Seamless.jpg filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Fonts/LiberationSans.ttf filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Resources/Fonts[[:space:]]&[[:space:]]Materials/LiberationSans[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Sprites/EmojiOne.png filter=lfs diff=lfs merge=lfs -text
/Packages/System.Collections.4.3.0/System.Collections.4.3.0.nupkg filter=lfs diff=lfs merge=lfs -text
/Packages/System.Collections.4.3.0/ref/netcore50/System.Collections.xml filter=lfs diff=lfs merge=lfs -text
/Packages/System.Collections.4.3.0/ref/netcore50/de/System.Collections.xml filter=lfs diff=lfs merge=lfs -text
/Packages/System.Collections.4.3.0/ref/netcore50/es/System.Collections.xml filter=lfs diff=lfs merge=lfs -text
/Packages/System.Collections.4.3.0/ref/netcore50/fr/System.Collections.xml filter=lfs diff=lfs merge=lfs -text
/Packages/System.Collections.4.3.0/ref/netcore50/it/System.Collections.xml filter=lfs diff=lfs merge=lfs -text
/Packages/System.Collections.4.3.0/ref/netcore50/ja/System.Collections.xml filter=lfs diff=lfs merge=lfs -text
/Packages/System.Collections.4.3.0/ref/netcore50/ko/System.Collections.xml filter=lfs diff=lfs merge=lfs -text
/Packages/System.Collections.4.3.0/ref/netcore50/ru/System.Collections.xml filter=lfs diff=lfs merge=lfs -text
/Packages/System.Collections.4.3.0/ref/netcore50/zh-hans/System.Collections.xml filter=lfs diff=lfs merge=lfs -text
/Packages/System.Collections.4.3.0/ref/netcore50/zh-hant/System.Collections.xml filter=lfs diff=lfs merge=lfs -text
/Packages/System.Collections.4.3.0/ref/netstandard1.0/System.Collections.xml filter=lfs diff=lfs merge=lfs -text
/Packages/System.Collections.4.3.0/ref/netstandard1.0/de/System.Collections.xml filter=lfs diff=lfs merge=lfs -text
/Packages/System.Collections.4.3.0/ref/netstandard1.0/es/System.Collections.xml filter=lfs diff=lfs merge=lfs -text
/Packages/System.Collections.4.3.0/ref/netstandard1.0/fr/System.Collections.xml filter=lfs diff=lfs merge=lfs -text
/Packages/System.Collections.4.3.0/ref/netstandard1.0/it/System.Collections.xml filter=lfs diff=lfs merge=lfs -text
/Packages/System.Collections.4.3.0/ref/netstandard1.0/ja/System.Collections.xml filter=lfs diff=lfs merge=lfs -text
/Packages/System.Collections.4.3.0/ref/netstandard1.0/ko/System.Collections.xml filter=lfs diff=lfs merge=lfs -text
/Packages/System.Collections.4.3.0/ref/netstandard1.0/ru/System.Collections.xml filter=lfs diff=lfs merge=lfs -text
/Packages/System.Collections.4.3.0/ref/netstandard1.0/zh-hans/System.Collections.xml filter=lfs diff=lfs merge=lfs -text
/Packages/System.Collections.4.3.0/ref/netstandard1.0/zh-hant/System.Collections.xml filter=lfs diff=lfs merge=lfs -text
/Packages/System.Collections.4.3.0/ref/netstandard1.3/System.Collections.xml filter=lfs diff=lfs merge=lfs -text
/Packages/System.Collections.4.3.0/ref/netstandard1.3/de/System.Collections.xml filter=lfs diff=lfs merge=lfs -text
/Packages/System.Collections.4.3.0/ref/netstandard1.3/es/System.Collections.xml filter=lfs diff=lfs merge=lfs -text
/Packages/System.Collections.4.3.0/ref/netstandard1.3/fr/System.Collections.xml filter=lfs diff=lfs merge=lfs -text
/Packages/System.Collections.4.3.0/ref/netstandard1.3/it/System.Collections.xml filter=lfs diff=lfs merge=lfs -text
/Packages/System.Collections.4.3.0/ref/netstandard1.3/ja/System.Collections.xml filter=lfs diff=lfs merge=lfs -text
/Packages/System.Collections.4.3.0/ref/netstandard1.3/ko/System.Collections.xml filter=lfs diff=lfs merge=lfs -text
/Packages/System.Collections.4.3.0/ref/netstandard1.3/ru/System.Collections.xml filter=lfs diff=lfs merge=lfs -text
/Packages/System.Collections.4.3.0/ref/netstandard1.3/zh-hans/System.Collections.xml filter=lfs diff=lfs merge=lfs -text
/Packages/System.Collections.4.3.0/ref/netstandard1.3/zh-hant/System.Collections.xml filter=lfs diff=lfs merge=lfs -text
/Assets/Art/UI/Buttons/Prototype/Copy[[:space:]]Item[[:space:]]Icon.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/UI/Buttons/Prototype/Clipboard.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/UI/Buttons/Prototype/Move[[:space:]]File.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/UI/Buttons/Prototype/check-circle.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/UI/Buttons/Prototype/copy.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/UI/Buttons/Prototype/paste.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/UI/Buttons/Prototype/question.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/UI/Buttons/Prototype/Item[[:space:]]View[[:space:]]Select[[:space:]]Page_View.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/UI/Buttons/Prototype/List[[:space:]]View[[:space:]]Select[[:space:]]Page_View.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/UI/Buttons/Prototype/Page[[:space:]]Selection.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/UI/Buttons/Prototype/Select[[:space:]]Pager.png filter=lfs diff=lfs merge=lfs -text
/Assets/Prefabs/UI/Project_ListView.prefab filter=lfs diff=lfs merge=lfs -text
/Assets/Prefabs/UI/Folder_ItemView.prefab filter=lfs diff=lfs merge=lfs -text
/Assets/Prefabs/UI/Folder_ListView.prefab filter=lfs diff=lfs merge=lfs -text
/Assets/Prefabs/UI/File_ItemView.prefab filter=lfs diff=lfs merge=lfs -text
/Assets/Prefabs/UI/File_ListView.prefab filter=lfs diff=lfs merge=lfs -text
/FlatBuffers/flatc.exe filter=lfs diff=lfs merge=lfs -text
/Assets/Art/UI/Buttons/Prototype/Settings[[:space:]]Icon.png filter=lfs diff=lfs merge=lfs -text
/Packages/Grpc.Core.2.46.6/Grpc.Core.2.46.6.nupkg filter=lfs diff=lfs merge=lfs -text
/Packages/Grpc.Core.2.46.6/lib/net45/Grpc.Core.dll filter=lfs diff=lfs merge=lfs -text
/Packages/Grpc.Core.2.46.6/lib/net45/Grpc.Core.xml filter=lfs diff=lfs merge=lfs -text
/Packages/Grpc.Core.2.46.6/lib/netstandard1.5/Grpc.Core.dll filter=lfs diff=lfs merge=lfs -text
/Packages/Grpc.Core.2.46.6/lib/netstandard1.5/Grpc.Core.xml filter=lfs diff=lfs merge=lfs -text
/Packages/Grpc.Core.2.46.6/lib/netstandard2.0/Grpc.Core.dll filter=lfs diff=lfs merge=lfs -text
/Packages/Grpc.Core.2.46.6/lib/netstandard2.0/Grpc.Core.xml filter=lfs diff=lfs merge=lfs -text
/Packages/Grpc.Core.2.46.6/runtimes/linux-arm64/native/libgrpc_csharp_ext.arm64.so filter=lfs diff=lfs merge=lfs -text
/Packages/Grpc.Core.2.46.6/runtimes/linux-x64/native/libgrpc_csharp_ext.x64.so filter=lfs diff=lfs merge=lfs -text
/Packages/Grpc.Core.2.46.6/runtimes/osx-x64/native/libgrpc_csharp_ext.x64.dylib filter=lfs diff=lfs merge=lfs -text
/Packages/Grpc.Core.2.46.6/runtimes/win-x64/native/grpc_csharp_ext.x64.dll filter=lfs diff=lfs merge=lfs -text
/Packages/Grpc.Core.2.46.6/runtimes/win-x86/native/grpc_csharp_ext.x86.dll filter=lfs diff=lfs merge=lfs -text
/Packages/Grpc.Core.Api.2.46.6/Grpc.Core.Api.2.46.6.nupkg filter=lfs diff=lfs merge=lfs -text
/Packages/Grpc.Core.Api.2.46.6/lib/net45/Grpc.Core.Api.xml filter=lfs diff=lfs merge=lfs -text
/Packages/Grpc.Core.Api.2.46.6/lib/netstandard1.5/Grpc.Core.Api.xml filter=lfs diff=lfs merge=lfs -text
/Packages/Grpc.Core.Api.2.46.6/lib/netstandard2.0/Grpc.Core.Api.xml filter=lfs diff=lfs merge=lfs -text
/Packages/Grpc.Core.Api.2.46.6/lib/netstandard2.1/Grpc.Core.Api.xml filter=lfs diff=lfs merge=lfs -text
/Packages/System.Memory.4.5.3/System.Memory.4.5.3.nupkg filter=lfs diff=lfs merge=lfs -text
/Packages/System.Memory.4.5.3/lib/netstandard1.1/System.Memory.dll filter=lfs diff=lfs merge=lfs -text
/Packages/System.Memory.4.5.3/lib/netstandard2.0/System.Memory.dll filter=lfs diff=lfs merge=lfs -text
/Packages/System.Numerics.Vectors.4.4.0/System.Numerics.Vectors.4.4.0.nupkg filter=lfs diff=lfs merge=lfs -text
/Packages/System.Numerics.Vectors.4.4.0/lib/net46/System.Numerics.Vectors.dll filter=lfs diff=lfs merge=lfs -text
/Packages/System.Numerics.Vectors.4.4.0/lib/net46/System.Numerics.Vectors.xml filter=lfs diff=lfs merge=lfs -text
/Packages/System.Numerics.Vectors.4.4.0/lib/netstandard1.0/System.Numerics.Vectors.dll filter=lfs diff=lfs merge=lfs -text
/Packages/System.Numerics.Vectors.4.4.0/lib/netstandard1.0/System.Numerics.Vectors.xml filter=lfs diff=lfs merge=lfs -text
/Packages/System.Numerics.Vectors.4.4.0/lib/netstandard2.0/System.Numerics.Vectors.dll filter=lfs diff=lfs merge=lfs -text
/Packages/System.Numerics.Vectors.4.4.0/lib/netstandard2.0/System.Numerics.Vectors.xml filter=lfs diff=lfs merge=lfs -text
/Packages/System.Numerics.Vectors.4.4.0/lib/portable-net45+win8+wp8+wpa81/System.Numerics.Vectors.dll filter=lfs diff=lfs merge=lfs -text
/Packages/System.Numerics.Vectors.4.4.0/lib/portable-net45+win8+wp8+wpa81/System.Numerics.Vectors.xml filter=lfs diff=lfs merge=lfs -text
/Packages/System.Numerics.Vectors.4.4.0/ref/net46/System.Numerics.Vectors.xml filter=lfs diff=lfs merge=lfs -text
/Packages/System.Numerics.Vectors.4.4.0/ref/netstandard1.0/System.Numerics.Vectors.xml filter=lfs diff=lfs merge=lfs -text
/Packages/System.Numerics.Vectors.4.4.0/ref/netstandard2.0/System.Numerics.Vectors.xml filter=lfs diff=lfs merge=lfs -text
/Packages/System.Runtime.CompilerServices.Unsafe.4.5.2/System.Runtime.CompilerServices.Unsafe.4.5.2.nupkg filter=lfs diff=lfs merge=lfs -text
*.asset !text !filter !merge !diff
*.prefab !text !filter !merge !diff
